@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
:root{
    --custom-blue: #2563EB;
    --sky-blue: #0284C7;
    font-family: 'Shippori Antique B1', sans-serif;
}
*{
    margin:0;
    padding:0;
}
.dash{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}
.header{
background-color: aqua;
grid-column: 2;
display: flex;
flex-direction: column;
}
.search{
background-color: azure;
height: 45%;
}
.nav{
display: flex;
background-color: aquamarine;
height: 55%;
}
.sidebar{
background-image: linear-gradient(225deg, var(--custom-blue), var(--sky-blue));
grid-row: 1 / -1;
color: white;
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: repeat(7, 1fr) 3fr repeat(3, 1fr) 5fr;
row-gap: 20px;
justify-items: center;
align-items: center;
padding: 20px;
font-size: 24px;
font-weight: 600;
}
.sidebar-header{
    font-size: 40px;
    justify-self: start;
    font-weight: 700;
}
.sidebar-item{
    justify-self: start;
}
.space{
    grid-column: 1 / -1;
}
.content{
background-color: black;
}