@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
:root{
    --custom-blue: #2563EB;
    --sky-blue: #0284C7;
    --slate-gray: #E2E8F0;
    --slate-white: #F8FAFC;
    font-family: 'Shippori Antique B1', sans-serif;
}
*{
    margin:0;
    padding:0;
}
.dash{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4.5fr;
    height: 100vh;
}
.header{
grid-column: 2;
display: flex;
flex-direction: column;
}
.search{
display: flex;
align-items: center;
background-color: var(--slate-white);
height: 40%;
padding-right: 5%;
}
.header-item{
    margin-left: 20px;
    margin-right: 20px;
}
.search-bar{
    background-color: var(--slate-gray);
    border: none;
    height: 50%;
    border-radius: 20px;
    flex: 1;
    padding-left: 2%;
}
.empty-space{
    height: 100%;
    width: 10%;
}
.img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.nav{
display: flex;
align-items: center;
background-color: var(--slate-white);
height: 60%;
}

.big-img{
    height: 90px;
    width: auto;
    border-radius: 50%;
    margin-left: 5%;
    margin-right: 20px;
}
h1{
    font-size: 24px;
}
.links{
    margin-left: auto;
    margin-right: 5%;
}
.link-item{
    border: none;
    border-radius: 20px;
    background-color: var(--custom-blue);
    height: 40px;
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.sidebar{
background-image: linear-gradient(225deg, var(--custom-blue), var(--sky-blue));
grid-row: 1 / -1;
color: white;
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-rows: repeat(7, 1fr) 3fr repeat(3, 1fr) 5fr;
row-gap: 20px;
justify-items: center;
align-items: center;
padding: 20px;
font-size: 24px;
font-weight: 600;
}
.sidebar-header{
    font-size: 40px;
    justify-self: start;
    font-weight: 700;
}
.sidebar-item{
    justify-self: start;
}
.space{
    grid-column: 1 / -1;
}
.content{
background-color: black;
}